interactions:
- request:
    body: '{"method":"add","params":{"AdVideos":[{"VideoData":"<REDACTED>","Name":"draft-creative-video"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/advideos
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":"aabbccdd1122334455667700002"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 60/3306986/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/advideos.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Creatives":[{"VideoExtensionCreative":{"VideoId":"aabbccdd1122334455667700002"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/creatives
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":1000000001}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 40/3306946/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/creatives.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[1000000001]},"FieldNames":["Id","Name","Type"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/creatives
  response:
    body:
      string: "{\"result\":{\"Creatives\":[{\"Id\":1000000001,\"Type\":\"VIDEO_EXTENSION_CREATIVE\",\"Name\":\"\u041D\u043E\u0432\u044B\u0439
        \u0432\u0438\u0434\u0435\u043E\u043A\u0440\u0435\u0430\u0442\u0438\u0432\"}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 16/3306930/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/creatives.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
