interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-nested-ads-sr","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":100000018}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 15/3298023/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"draft-group","CampaignId":100000018,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":2000000006}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 40/3297983/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Ads":[{"AdGroupId":2000000006,"TextAd":{"Mobile":"NO","Title":"SR
      Draft Ad","Text":"Test ad","Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/ads
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":30000000002,"Warnings":[{"Code":10165,"Message":"Parameter
        will not be applied"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 40/3297943/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"suspend","params":{"SelectionCriteria":{"Ids":[30000000002]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/ads
  response:
    body:
      string: '{"result":{"SuspendResults":[{"Errors":[{"Code":8300,"Message":"Invalid
        object status","Details":"Ad is a draft and cannot be stopped"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 35/3297908/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.suspend,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"resume","params":{"SelectionCriteria":{"Ids":[30000000002]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/ads
  response:
    body:
      string: '{"result":{"ResumeResults":[{"Errors":[{"Code":8300,"Message":"Invalid
        object status","Details":"Ad is a draft and cannot be launched"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 35/3297873/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.resume,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"archive","params":{"SelectionCriteria":{"Ids":[30000000002]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/ads
  response:
    body:
      string: '{"result":{"ArchiveResults":[{"Errors":[{"Code":8300,"Message":"Invalid
        object status","Details":"Ad is a draft and cannot be archived"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 35/3297838/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.archive,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"unarchive","params":{"SelectionCriteria":{"Ids":[30000000002]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/ads
  response:
    body:
      string: '{"result":{"UnarchiveResults":[{"Id":30000000002,"Warnings":[{"Code":10203,"Message":"Ad
        is not archived"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 40/3297798/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.unarchive,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[30000000002]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/ads
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":30000000002}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '976571831808160644'
      Units:
      - 10/3297788/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.delete,appcode:0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[100000018]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.ru/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":100000018}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 12/3297766/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
