interactions:
- request:
    body: '{"method":"add","params":{"RetargetingLists":[{"Name":"direct-cli-live-draft-test-rtg","Type":"RETARGETING","Rules":[{"Operator":"ALL","Arguments":[{"ExternalId":12345,"MembershipLifeSpan":30}]}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":40775679,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6431760649631683861'
      Units:
      - 12/151186/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/retargetinglists.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"update","params":{"RetargetingLists":[{"Id":40775679,"Name":"direct-cli-live-draft-test-rtg-renamed"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"result":{"UpdateResults":[{"Id":40775679,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8061036257532684772'
      Units:
      - 12/151174/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/retargetinglists.update,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[40775679]},"FieldNames":["Id","Name","Type","Scope"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"result":{"RetargetingLists":[{"Type":"RETARGETING","Id":40775679,"Scope":"FOR_TARGETS_AND_ADJUSTMENTS","Name":"direct-cli-live-draft-test-rtg-renamed"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1862860835457099772'
      Units:
      - 2/151172/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/retargetinglists.get,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[40775679]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":40775679,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5224827374749064090'
      Units:
      - 12/151160/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/retargetinglists.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
