interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-nested-ads","StartDate":"2030-01-15","TextCampaign":{"Settings":[],"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}}}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":710422462,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4232593486999321662'
      Units:
      - 15/153620/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"draft-ads-group","CampaignId":710422462,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":5757287178,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2823753636632488468'
      Units:
      - 40/153580/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Ads":[{"AdGroupId":5757287178,"TextAd":{"Mobile":"NO","Title":"Draft
      Test Ad","Text":"Test ad text","Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":17735868496,"Warnings":[{"Code":10165,"Message":"Parameter
        will not be applied"}],"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2575238583776737676'
      Units:
      - 40/153540/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"update","params":{"Ads":[{"Id":17735868496,"TextAd":{"Title":"Updated
      Draft Ad"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"UpdateResults":[{"Id":17735868496,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3070910446522258668'
      Units:
      - 40/153500/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.update,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[17735868496]},"FieldNames":["Id","CampaignId","AdGroupId","Status","State","Type"],"TextAdFieldNames":["Title","Title2","Text","Href"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"Ads":[{"Id":17735868496,"CampaignId":710422462,"AdGroupId":5757287178,"Status":"DRAFT","State":"OFF","Type":"TEXT_AD","TextAd":{"Text":"Test
        ad text","Title":"Updated Draft Ad","Title2":null,"Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1131365963989191745'
      Units:
      - 16/153484/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.get,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[17735868496]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":17735868496,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8095981206608613097'
      Units:
      - 10/153474/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.delete,appcode:0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[710422462]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":710422462,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8130205322790991263'
      Units:
      - 12/153452/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
