interactions:
- request:
    body: '{"method":"add","params":{"Strategies":[{"Name":"direct-cli-live-draft-test-strategy","AverageCpc":{"AverageCpc":30000000,"WeeklySpendLimit":300000000}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/strategies
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":708915404,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3165779444944969127'
      Units:
      - 15/154132/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/strategies.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"update","params":{"Strategies":[{"Id":708915404,"Name":"direct-cli-live-draft-test-strategy-renamed"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/strategies
  response:
    body:
      string: '{"result":{"UpdateResults":[{"Id":708915404,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '591443445115331982'
      Units:
      - 13/154119/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/strategies.update,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"archive","params":{"SelectionCriteria":{"Ids":[708915404]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/strategies
  response:
    body:
      string: '{"result":{"ArchiveResults":[{"Id":708915404,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8464317094764351129'
      Units:
      - 15/154104/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/strategies.archive,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"unarchive","params":{"SelectionCriteria":{"Ids":[708915404]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/strategies
  response:
    body:
      string: '{"result":{"UnarchiveResults":[{"Id":708915404,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4433565921262051173'
      Units:
      - 15/154089/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/strategies.unarchive,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"archive","params":{"SelectionCriteria":{"Ids":[708915404]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/strategies
  response:
    body:
      string: '{"result":{"ArchiveResults":[{"Id":708915404,"Errors":[]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4648638098761024346'
      Units:
      - 15/154074/168000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/strategies.archive,appcode:0
    status:
      code: 200
      message: OK
version: 1
