interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-nested-bids","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":709163160}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4495245330692032403'
      Units:
      - 15/3298867/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4495245330692032403,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"draft-bids-group","CampaignId":709163160,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":5743529259}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2579493819185696062'
      Units:
      - 40/3298827/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2579493819185696062,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Keywords":[{"AdGroupId":5743529259,"Keyword":"draft
      bids keyword"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":57019292002}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5751368877287558778'
      Units:
      - 22/3298805/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:5751368877287558778,cmd:direct.api5/keywords.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"set","params":{"Bids":[{"KeywordId":57019292002,"Bid":15000000}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/bids
  response:
    body:
      string: '{"result":{"SetResults":[{"KeywordId":57019292002}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7957858391090272786'
      Units:
      - 25/3298780/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:7957858391090272786,cmd:direct.api5/bids.set,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[57019292002]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":57019292002}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2992767060927201811'
      Units:
      - 11/3298769/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2992767060927201811,cmd:direct.api5/keywords.delete,appcode:0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[709163160]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":709163160}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3666365798704012857'
      Units:
      - 12/3298747/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:3666365798704012857,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
