interactions:
- request:
    body: '{"method":"add","params":{"AdVideos":[{"VideoData":"<REDACTED>","Name":"draft-test-video"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/advideos
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":"aabbccdd1122334455667700001"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 60/3307057/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4746467954043220172,cmd:direct.api5/advideos.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":["aabbccdd1122334455667700001"]},"FieldNames":["Id","Status"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/advideos
  response:
    body:
      string: '{"result":{"AdVideos":[{"Id":"aabbccdd1122334455667700001","Status":"READY"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 11/3307046/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2724554818578151811,cmd:direct.api5/advideos.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
