interactions:
- request:
    body: '{"method":"add","params":{"SitelinksSets":[{"Sitelinks":[{"Title":"CLI
      Test","Href":"https://example.com/test"},{"Title":"CLI Test 2","Href":"https://example.com/test2"}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/sitelinks
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":1472003845}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4549920624354706648'
      Units:
      - 40/3299424/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4549920624354706648,cmd:direct.api5/sitelinks.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[1472003845]},"FieldNames":["Id","Sitelinks"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/sitelinks
  response:
    body:
      string: '{"result":{"SitelinksSets":[{"Id":1472003845,"Sitelinks":[{"Title":"CLI
        Test","Href":"https://example.com/test","Description":null},{"Title":"CLI
        Test 2","Href":"https://example.com/test2","Description":null}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2666638050766176083'
      Units:
      - 16/3299408/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2666638050766176083,cmd:direct.api5/sitelinks.get,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[1472003845]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/sitelinks
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":1472003845}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8782552956676437533'
      Units:
      - 10/3299398/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8782552956676437533,cmd:direct.api5/sitelinks.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
