interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":709157747}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '873965662537397733'
      Units:
      - 15/3295181/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:873965662537397733,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[709157747]},"FieldNames":["Id","Name","Status","State"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"Campaigns":[{"Id":709157747,"Name":"direct-cli-live-draft-test-cassette","Status":"DRAFT","State":"OFF"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6001417082040379584'
      Units:
      - 11/3295170/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6001417082040379584,cmd:direct.api5/campaigns.get,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[709157747]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":709157747}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5944753487637845002'
      Units:
      - 12/3295158/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:5944753487637845002,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[709157747]},"FieldNames":["Id","Name","Status","State"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"Campaigns":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2430494166220133438'
      Units:
      - 10/3295148/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2430494166220133438,cmd:direct.api5/campaigns.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
