interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-nested-ads","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":709163149}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4295490712598204363'
      Units:
      - 15/3299210/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4295490712598204363,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"draft-ads-group","CampaignId":709163149,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":5743529188}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7525936863758772077'
      Units:
      - 40/3299170/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:7525936863758772077,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Ads":[{"AdGroupId":5743529188,"TextAd":{"Mobile":"NO","Title":"Draft
      Test Ad","Text":"Test ad text","Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":17692564248,"Warnings":[{"Code":10165,"Message":"Parameter
        will not be applied"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1783120852658046502'
      Units:
      - 40/3299130/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1783120852658046502,cmd:direct.api5/ads.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"update","params":{"Ads":[{"Id":17692564248,"TextAd":{"Title":"Updated
      Draft Ad"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"UpdateResults":[{"Id":17692564248}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3934838270363730044'
      Units:
      - 40/3299090/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:3934838270363730044,cmd:direct.api5/ads.update,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[17692564248]},"FieldNames":["Id","CampaignId","AdGroupId","Status","State","Type"],"TextAdFieldNames":["Title","Title2","Text","Href"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"Ads":[{"Id":17692564248,"CampaignId":709163149,"AdGroupId":5743529188,"Status":"DRAFT","State":"OFF","Type":"TEXT_AD","TextAd":{"Text":"Test
        ad text","Title":"Updated Draft Ad","Title2":null,"Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1615679150810919757'
      Units:
      - 16/3299074/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1615679150810919757,cmd:direct.api5/ads.get,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[17692564248]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":17692564248}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2123630998656596560'
      Units:
      - 10/3299064/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2123630998656596560,cmd:direct.api5/ads.delete,appcode:0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[709163149]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":709163149}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4888287551327842912'
      Units:
      - 12/3299042/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4888287551327842912,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
