interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-nested-kw-sr","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":709163239}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1935133278297731983'
      Units:
      - 15/3298380/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1935133278297731983,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"draft-group","CampaignId":709163239,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":5743529417}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4909196488014979772'
      Units:
      - 40/3298340/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4909196488014979772,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Keywords":[{"AdGroupId":5743529417,"Keyword":"draft
      sr keyword"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":57019293955}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1589391930834349015'
      Units:
      - 22/3298318/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1589391930834349015,cmd:direct.api5/keywords.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"suspend","params":{"SelectionCriteria":{"Ids":[57019293955]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"SuspendResults":[{"Id":57019293955}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4902843627556802553'
      Units:
      - 15/3298303/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4902843627556802553,cmd:direct.api5/keywords.suspend,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"resume","params":{"SelectionCriteria":{"Ids":[57019293955]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"ResumeResults":[{"Id":57019293955}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2001516948271290583'
      Units:
      - 15/3298288/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2001516948271290583,cmd:direct.api5/keywords.resume,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[57019293955]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":57019293955}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1332253990534807803'
      Units:
      - 11/3298277/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1332253990534807803,cmd:direct.api5/keywords.delete,appcode:0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[709163239]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":709163239}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4045745722776806135'
      Units:
      - 12/3298255/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4045745722776806135,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
