interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-nested-keywords","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":709165094}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8293505419901052266'
      Units:
      - 15/3297077/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8293505419901052266,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"draft-kw-group","CampaignId":709165094,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":5743542755}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '9062775985954035754'
      Units:
      - 40/3297037/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:9062775985954035754,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Keywords":[{"AdGroupId":5743542755,"Keyword":"draft
      test keyword"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":57020317358}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5811779235122386323'
      Units:
      - 22/3297015/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:5811779235122386323,cmd:direct.api5/keywords.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"update","params":{"Keywords":[{"Id":57020317358,"Status":"SUSPENDED"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"error":{"request_id":"930706505971356658","error_code":8000,"error_detail":"An
        item in the Keywords array contains the unknown parameter Status","error_string":"Invalid
        request"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '930706505971356658'
      Units:
      - 50/3296965/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:930706505971356658,cmd:direct.api5/keywords.update,appcode:8000
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[57020317358]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/keywords
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":57020317358}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5596459805128980377'
      Units:
      - 11/3296954/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:5596459805128980377,cmd:direct.api5/keywords.delete,appcode:0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[709165094]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":709165094}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8392400406836309749'
      Units:
      - 12/3296932/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8392400406836309749,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
