interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-dynamic","StartDate":"2030-01-15","DynamicTextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[{"Option":"ADD_METRICA_TAG","Value":"NO"}]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: "{\"result\":{\"AddResults\":[{\"Errors\":[{\"Code\":3500,\"Message\":\"Not
        supported\",\"Details\":\"\u0421\u043E\u0437\u0434\u0430\u043D\u0438\u0435
        \u043A\u0430\u043C\u043F\u0430\u043D\u0438\u0438 \u0437\u0430\u0434\u0430\u043D\u043D\u043E\u0433\u043E
        \u0442\u0438\u043F\u0430 \u043D\u0435 \u043F\u043E\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u0442\u0441\u044F\"}]}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 30/3296795/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2042457320535378409,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
version: 1
