interactions:
- request:
    body: "{\"method\":\"CreateNewForecast\",\"param\":{\"Phrases\":[\"\u043A\u0443\u043F\u0438\u0442\u044C
      \u043D\u043E\u0443\u0442\u0431\u0443\u043A\"],\"Currency\":\"RUB\",\"GeoID\":[213]},\"token\":\"<REDACTED>\",\"locale\":\"en\"}"
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":1211301582}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '7731295156904107958'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/CreateNewForecast
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"GetForecastList","token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":[{"StatusForecast":"Done","ForecastID":1211301582}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '9094080080140678746'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetForecastList
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"DeleteForecastReport","param":1211301582,"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '5766834794048043848'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/DeleteForecastReport
    status:
      code: 200
      message: OK
version: 1
