interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"direct-cli-live-draft-test-cassette-nested-audience","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":100000020}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 15/3296917/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:3172308602684827604,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"draft-audience-group","CampaignId":100000020,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":2000000008}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 40/3296877/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4117125307003139422,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"RetargetingLists":[{"Name":"draft-rtg-test","Type":"RETARGETING","Rules":[{"Operator":"ALL","Arguments":[{"ExternalId":12345,"MembershipLifeSpan":30}]}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"result":{"AddResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 30/3296847/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6944037828365809860,cmd:direct.api5/retargetinglists.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[2000000008]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":2000000008}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 10/3296837/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4601023692922494977,cmd:direct.api5/adgroups.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[100000020]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":100000020}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 12/3296825/3310000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:9166258855496555141,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
