interactions:
- request:
    body: "{\"method\":\"CreateNewWordstatReport\",\"param\":{\"Phrases\":[\"\u043A\u0443\u043F\u0438\u0442\u044C
      \u043D\u043E\u0443\u0442\u0431\u0443\u043A\"],\"GeoID\":[0]},\"token\":\"<REDACTED>\",\"locale\":\"en\"}"
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":1211301440}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '1048193948762013570'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/CreateNewWordstatReport
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"GetWordstatReportList","token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":[{"ReportID":1211301440,"StatusReport":"Done"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '1718543217330080295'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetWordstatReportList
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"DeleteWordstatReport","param":1211301440,"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '1624432486624277449'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/DeleteWordstatReport
    status:
      code: 200
      message: OK
version: 1
