interactions:
- request:
    body: "{\"method\":\"hasSearchVolume\",\"params\":{\"SelectionCriteria\":{\"RegionIds\":[213],\"Keywords\":[\"\u043A\u0443\u043F\u0438\u0442\u044C
      \u0442\u0435\u043B\u0435\u0444\u043E\u043D\"]},\"FieldNames\":[\"Keyword\",\"AllDevices\"]}}"
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/keywordsresearch
  response:
    body:
      string: "{\"result\":{\"HasSearchVolumeResults\":[{\"Keyword\":\"\u043A\u0443\u043F\u0438\u0442\u044C
        \u0442\u0435\u043B\u0435\u0444\u043E\u043D\",\"AllDevices\":\"YES\"}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5874569288243949258'
      Units:
      - 1/159455/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/keywordsresearch.hasSearchVolume,appcode:0
    status:
      code: 200
      message: OK
version: 1
