interactions:
- request:
    body: '{"method":"AdImageAssociation","param":{"Action":"Get","SelectionCriteria":{}},"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":{"AdImageAssociations":[],"TotalObjectsCount":"0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '5448372471665298376'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/AdImageAssociation
    status:
      code: 200
      message: OK
version: 1
