interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":["1122065647"]},"FieldNames":["Id","Status"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/advideos
  response:
    body:
      string: '{"result":{"AdVideos":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7160369392380937494'
      Units:
      - 10/159496/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/advideos.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
