interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"CampaignIds":[700012672]},"FieldNames":["Id","Keyword","CampaignId","AdGroupId","Status","ServingStatus","Bid","ContextBid"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/keywords
  response:
    body:
      string: '{"result":{}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '9217902585114326683'
      Units:
      - 15/159594/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/keywords.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
