interactions:
- request:
    body: '{"method":"get","params":{"FieldNames":["AdImageHash","Name"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/adimages
  response:
    body:
      string: '{"result":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '8320890534637152659'
      Units:
      - 15/159574/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/adimages.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
