interactions:
- request:
    body: '{"method":"get","params":{"FieldNames":["Id","Name","Status","State","StartDate","EndDate","Type","DailyBudget","ClientInfo"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/campaigns
  response:
    body:
      string: "{\"result\":{\"Campaigns\":[{\"ClientInfo\":\"\u041B\u0443\u043A\u044C\u044F\u043D\u0447\u0443\u043A
        \u0410\u043B\u0435\u043A\u0441\u0435\u0439\",\"Id\":700012135,\"Name\":\"Test
        API Sandbox campaign 1\",\"StartDate\":\"2026-05-19\",\"Type\":\"TEXT_CAMPAIGN\",\"Status\":\"DRAFT\",\"State\":\"OFF\",\"DailyBudget\":null,\"EndDate\":null}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3369607720452461410'
      Units:
      - 11/159639/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/campaigns.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
