interactions:
- request:
    body: '{"method":"get","params":{"FieldNames":["Id","Name","Href","TurboSiteHref","PreviewHref","BoundWithHref"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/turbopages
  response:
    body:
      string: '{"result":{"TurboPages":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7791802611956514927'
      Units:
      - 15/159516/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/turbopages.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
