interactions:
- request:
    body: '{"method":"GetForecast","param":1,"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"error_str":"The specified budget forecast report does not exist","error_code":73,"error_detail":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '2901054350453295873'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetForecast
    status:
      code: 200
      message: OK
version: 1
