interactions:
- request:
    body: '{"method":"get","params":{"FieldNames":["Id","Name","BusinessType","SourceType","Status"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/feeds
  response:
    body:
      string: '{"result":{}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8194373567252370124'
      Units:
      - 15/159399/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/feeds.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
