interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"CampaignIds":[700012672]},"FieldNames":["Id","CampaignId","AdGroupId","State"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/smartadtargets
  response:
    body:
      string: '{"result":{"SmartAdTargets":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3760922271059152321'
      Units:
      - 15/159337/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/smartadtargets.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
