interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"TurboPageIds":[1]},"FieldNames":["Id","SubmittedAt","TurboPageId","TurboPageName"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/leads
  response:
    body:
      string: '{"result":{"Leads":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8996371156487778212'
      Units:
      - 1/159531/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/leads.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
