interactions:
- request:
    body: '{"method":"GetEventsLog","param":{"TimestampFrom":"2026-05-01T00:00:00","TimestampTo":"2026-05-28T00:00:00","Currency":"RUB"},"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '4348048659933115401'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetEventsLog
    status:
      code: 200
      message: OK
version: 1
