interactions:
- request:
    body: '{"method":"get","params":{"FieldNames":["ClientId","Login","CountryId","Currency"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/clients
  response:
    body:
      string: '{"result":{"Clients":[{"ClientId":116644,"CountryId":225,"Currency":"RUB","Login":"REDACTED"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7509965606753755952'
      Units:
      - 10/159486/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/clients.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
