interactions:
- request:
    body: '{"method":"get","params":{"FieldNames":["Id","Name","Address","Phone","ProfileUrl"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/businesses
  response:
    body:
      string: '{"result":{"Businesses":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8289622926319649172'
      Units:
      - 10/159506/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/businesses.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
