interactions:
- request:
    body: '{"method":"checkCampaigns","params":{"Timestamp":"2026-05-29T00:00:00Z"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/changes
  response:
    body:
      string: '{"result":{"Timestamp":"2026-05-29T04:16:37Z"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7448313023610377834'
      Units:
      - 10/159466/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/changes.checkCampaigns,appcode:0
    status:
      code: 200
      message: OK
version: 1
