interactions:
- request:
    body: '{"method":"GetStatGoals","param":{"CampaignIDS":[700012672]},"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '1960449532692433252'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetStatGoals
    status:
      code: 200
      message: OK
version: 1
