interactions:
- request:
    body: '{"method":"get","params":{"DictionaryNames":["Currencies","GeoRegions"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/dictionaries
  response:
    body:
      string: "{\"result\":{\"Currencies\":[{\"Currency\":\"RUB\",\"Properties\":[{\"Name\":\"BidIncrement\",\"Value\":\"100000\"},{\"Name\":\"FullName\",\"Value\":\"Russian
        rubles\"},{\"Name\":\"MaximumBid\",\"Value\":\"25000000000\"},{\"Name\":\"MinimumAverageCPA\",\"Value\":\"900000\"},{\"Name\":\"MinimumPayForConversionCPA\",\"Value\":\"900000\"},{\"Name\":\"MaximumPayForConversionCPA\",\"Value\":\"50000000000\"},{\"Name\":\"MinimumAverageCPV\",\"Value\":\"100000\"},{\"Name\":\"MaximumAverageCPV\",\"Value\":\"2000000\"},{\"Name\":\"MinimumAverageCPC\",\"Value\":\"900000\"},{\"Name\":\"MinimumCPM\",\"[...]
