interactions:
- request:
    body: '{"method":"GetClientsUnits","param":["REDACTED"],"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":[{"Login":"REDACTED","UnitsRest":32000}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '4617307722901139995'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetClientsUnits
    status:
      code: 200
      message: OK
version: 1
