interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{},"FieldNames":["Id","Type","State","Status"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/adextensions
  response:
    body:
      string: '{"result":{}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6170979890245620325'
      Units:
      - 5/159589/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/adextensions.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
