interactions:
- request:
    body: '{"params":{"SelectionCriteria":{"DateFrom":"2026-05-01","DateTo":"2026-05-28","Filter":[{"Field":"CampaignId","Operator":"IN","Values":["700012672"]}]},"FieldNames":["CampaignId","Impressions","Clicks","Cost"],"ReportName":"vcr_camp_perf","ReportType":"CAMPAIGN_PERFORMANCE_REPORT","DateRangeType":"CUSTOM_DATE","Format":"TSV","IncludeVAT":"YES","IncludeDiscount":"YES"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/reports
  response:
    body:
      string: "CampaignId\tImpressions\tClicks\tCost\n"
    headers:
      Content-Type:
      - text/tab-separated-values; charset=utf-8
      RequestId:
      - '9101122425911485242'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/reports.create,appcode:0
      reportsInQueue:
      - '0'
    status:
      code: 200
      message: OK
version: 1
