interactions:
- request:
    body: '{"method":"checkDictionaries","params":{}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/changes
  response:
    body:
      string: '{"result":{"Timestamp":"2026-05-29T04:16:38Z"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '790390970810192820'
      Units:
      - 10/159456/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/changes.checkDictionaries,appcode:0
    status:
      code: 200
      message: OK
version: 1
