interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{},"FieldNames":["Id","Name","Type","StatusArchived"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/strategies
  response:
    body:
      string: '{"result":{"Strategies":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2348437493644355606'
      Units:
      - 10/159548/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/strategies.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
