interactions:
- request:
    body: '{"method":"GetBannersTags","param":{"CampaignIDS":[700012672]},"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"error_str":"Internal server error","error_code":500,"error_detail":""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '4981479891964039717'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetBannersTags
    status:
      code: 200
      message: OK
version: 1
