interactions:
- request:
    body: '{"method":"CheckPayment","param":{"CustomTransactionID":"abcdef0123456789abcdef0123456789"},"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"error_detail":"","error_str":"Transaction does not exist","error_code":370}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '6315729184206375584'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/CheckPayment
    status:
      code: 200
      message: OK
version: 1
