interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"CampaignIds":[700012672]},"FieldNames":["KeywordId","AdGroupId","CampaignId","ServingStatus","StrategyPriority"],"SearchFieldNames":["Bid"],"NetworkFieldNames":["Bid"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/keywordbids
  response:
    body:
      string: '{"result":{}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6748971303493438749'
      Units:
      - 15/159369/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/keywordbids.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
