interactions:
- request:
    body: '{"method":"GetWordstatReport","param":1,"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"error_detail":"","error_str":"Login temporarily unavailable","error_code":52}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '3258136130878189315'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetWordstatReport
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"GetWordstatReport","param":1,"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"error_code":91,"error_detail":"","error_str":"The specified wordstat
        report does not exist"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '2455260119534387331'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetWordstatReport
    status:
      code: 200
      message: OK
version: 1
