interactions:
- request:
    body: '{"method":"GetCampaignsTags","param":{"CampaignIDS":[700012672]},"token":"<REDACTED>","locale":"en"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/live/v4/json/
  response:
    body:
      string: '{"data":[{"Tags":[],"CampaignID":700012672}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '8999091392491883531'
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.json-api/GetCampaignsTags
    status:
      code: 200
      message: OK
version: 1
