interactions:
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Levels":["CAMPAIGN","AD_GROUP"],"CampaignIds":[700012672]},"FieldNames":["Id","CampaignId","AdGroupId","Level","Type"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/bidmodifiers
  response:
    body:
      string: '{"result":{"BidModifiers":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8988427161297289680'
      Units:
      - 1/159368/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/bidmodifiers.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
