interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010750}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3675555734100485484'
      Units:
      - 15/114945/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:3675555734100485484,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"test-group","CampaignId":700010750,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":4793719}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1524310409867722779'
      Units:
      - 40/114905/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1524310409867722779,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Webpages":[{"Name":"Test Webpage","Conditions":[{"Operator":"CONTAINS","Arguments":["test"]}],"AdGroupId":4793719}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/dynamictextadtargets
  response:
    body:
      string: '{"error":{"request_id":"317729174247922515","error_code":8000,"error_detail":"The
        required field Operand is omitted in an item in the Webpages.Conditions array","error_string":"Invalid
        request"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '317729174247922515'
      Units:
      - 50/114855/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:317729174247922515,cmd:direct.api5/dynamictextadtargets.add,appcode:8000
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[4793719]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1751827558757545129'
      Units:
      - 30/114825/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1751827558757545129,cmd:direct.api5/adgroups.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010750]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010750}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8961246026796341155'
      Units:
      - 12/114813/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8961246026796341155,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
