interactions:
- request:
    body: '{"method":"add","params":{"AdExtensions":[{"Type":"CALLOUT","Callout":{"CalloutText":"Free
      shipping"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adextensions
  response:
    body:
      string: '{"error":{"request_id":"8348162918304510641","error_code":8000,"error_detail":"An
        item in the AdExtensions array contains the unknown parameter Type","error_string":"Invalid
        request"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8348162918304510641'
      Units:
      - 50/114255/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8348162918304510641,cmd:direct.api5/adextensions.add,appcode:8000
    status:
      code: 200
      message: OK
version: 1
