interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"lifecycle-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700011014}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2941715432670080265'
      Units:
      - 15/148047/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2941715432670080265,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"update","params":{"Campaigns":[{"Id":700011014,"Name":"lifecycle-cassette-renamed"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"UpdateResults":[{"Id":700011014}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7126530251092685598'
      Units:
      - 13/148034/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:7126530251092685598,cmd:direct.api5/campaigns.update,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"suspend","params":{"SelectionCriteria":{"Ids":[700011014]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: "{\"result\":{\"SuspendResults\":[{\"Errors\":[{\"Code\":8300,\"Message\":\"Invalid
        object status\",\"Details\":\"\u041A\u0430\u043C\u043F\u0430\u043D\u0438\u044F
        \u044F\u0432\u043B\u044F\u0435\u0442\u0441\u044F \u0447\u0435\u0440\u043D\u043E\u0432\u0438\u043A\u043E\u043C
        \u0438 \u043D\u0435 \u043C\u043E\u0436\u0435\u0442 \u0431\u044B\u0442\u044C
        \u043E\u0441\u0442\u0430\u043D\u043E\u0432\u043B\u0435\u043D\u0430\"}]}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8240975942913344167'
      Units:
      - 30/148004/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8240975942913344167,cmd:direct.api5/campaigns.suspend,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"archive","params":{"SelectionCriteria":{"Ids":[700011014]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: "{\"result\":{\"ArchiveResults\":[{\"Errors\":[{\"Code\":8303,\"Message\":\"Cannot
        archive object\",\"Details\":\"\u041A\u0430\u043C\u043F\u0430\u043D\u0438\u044F
        \u044F\u0432\u043B\u044F\u0435\u0442\u0441\u044F \u0447\u0435\u0440\u043D\u043E\u0432\u0438\u043A\u043E\u043C
        \u0438 \u043D\u0435 \u043C\u043E\u0436\u0435\u0442 \u0431\u044B\u0442\u044C
        \u0437\u0430\u0430\u0440\u0445\u0438\u0432\u0438\u0440\u043E\u0432\u0430\u043D\u0430\"}]}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8664891712193788691'
      Units:
      - 30/147974/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8664891712193788691,cmd:direct.api5/campaigns.archive,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"unarchive","params":{"SelectionCriteria":{"Ids":[700011014]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"UnarchiveResults":[{"Id":700011014,"Warnings":[{"Code":10023,"Message":"Object
        is not archived","Details":"Campaign is not archived"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '677908413749004393'
      Units:
      - 15/147959/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:677908413749004393,cmd:direct.api5/campaigns.unarchive,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700011014]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700011014}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6084079096985489772'
      Units:
      - 12/147947/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6084079096985489772,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
