interactions:
- request:
    body: '{"method":"add","params":{"Strategies":[{"Name":"strategy-cassette","WbMaximumClicks":{"WeeklySpendLimit":300000000}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/strategies
  response:
    body:
      string: "{\"result\":{\"AddResults\":[{\"Errors\":[{\"Code\":6000,\"Message\":\"Inconsistent
        object state\",\"Details\":\"\u0421\u0442\u0440\u0430\u0442\u0435\u0433\u0438\u044E
        \u0431\u0435\u0437 \u043A\u043E\u0448\u0435\u043B\u044C\u043A\u0430 \u0437\u0430\u043F\u0440\u0435\u0449\u0435\u043D\u043E
        \u0434\u0435\u043B\u0430\u0442\u044C \u043F\u0443\u0431\u043B\u0438\u0447\u043D\u043E\u0439\"}]}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8770660826308898187'
      Units:
      - 30/159890/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/strategies.add,appcode:0
    status:
      code: 200
      message: OK
version: 1
