interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"draft-lifecycle-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700011015}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4122921155024206852'
      Units:
      - 15/147932/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4122921155024206852,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[700011015]},"FieldNames":["Id","Name","Status","State"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"Campaigns":[{"Id":700011015,"Name":"draft-lifecycle-cassette","Status":"DRAFT","State":"OFF"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6541465724834407063'
      Units:
      - 11/147921/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6541465724834407063,cmd:direct.api5/campaigns.get,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700011015]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700011015}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1828395488783659529'
      Units:
      - 12/147909/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1828395488783659529,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"get","params":{"SelectionCriteria":{"Ids":[700011015]},"FieldNames":["Id","Name","Status","State"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"Campaigns":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '50565253789179739'
      Units:
      - 10/147899/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:50565253789179739,cmd:direct.api5/campaigns.get,appcode:0
    status:
      code: 200
      message: OK
version: 1
