interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010742}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2531227439731998748'
      Units:
      - 15/115876/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2531227439731998748,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"test-group","CampaignId":700010742,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":4793715}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7808330898302694173'
      Units:
      - 40/115836/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:7808330898302694173,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Ads":[{"AdGroupId":4793715,"TextAd":{"Title":"Test
      Ad","Text":"Test ad text body","Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"AddResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4087368955181153661'
      Units:
      - 40/115796/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4087368955181153661,cmd:direct.api5/ads.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[4793715]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4169605270629407430'
      Units:
      - 30/115766/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4169605270629407430,cmd:direct.api5/adgroups.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010742]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010742}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2202033692415484297'
      Units:
      - 12/115754/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2202033692415484297,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
