interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010808}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2145180232948236447'
      Units:
      - 15/150135/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2145180232948236447,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"test-group","CampaignId":700010808,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":4793796}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6275654295746935643'
      Units:
      - 40/150095/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6275654295746935643,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Ads":[{"AdGroupId":4793796,"TextAd":{"Mobile":"NO","Title":"Test
      Ad","Text":"Test ad text body","Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/ads
  response:
    body:
      string: '{"result":{"AddResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '9014288123624589407'
      Units:
      - 40/150055/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:9014288123624589407,cmd:direct.api5/ads.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[4793796]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8916173802950405098'
      Units:
      - 30/150025/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8916173802950405098,cmd:direct.api5/adgroups.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010808]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010808}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2889078891484606279'
      Units:
      - 12/150013/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2889078891484606279,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
