interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010813}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3700216375221741244'
      Units:
      - 15/149529/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:3700216375221741244,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"set","params":{"BidModifiers":[{"CampaignId":700010813,"Type":"MOBILE_ADJUSTMENT","BidModifier":120.0}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bidmodifiers
  response:
    body:
      string: '{"error":{"request_id":"6843302780734175933","error_code":8000,"error_detail":"The
        required field Id is omitted in an item in the BidModifiers array","error_string":"Invalid
        request"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6843302780734175933'
      Units:
      - 50/149479/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6843302780734175933,cmd:direct.api5/bidmodifiers.set,appcode:8000
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010813]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010813}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4248601700741238292'
      Units:
      - 12/149467/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4248601700741238292,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
