interactions:
- request:
    body: '{"method":"add","params":{"Feeds":[{"Name":"test-feed-cassette","Source":"https://example.com/feed.xml","SourceType":"URL"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/feeds
  response:
    body:
      string: '{"error":{"request_id":"5044972981492417648","error_code":8000,"error_detail":"An
        item in the Feeds array contains the unknown parameter Source","error_string":"Invalid
        request"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5044972981492417648'
      Units:
      - 50/115254/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:5044972981492417648,cmd:direct.api5/feeds.add,appcode:8000
    status:
      code: 200
      message: OK
version: 1
