interactions:
- request:
    body: '{"method":"add","params":{"SitelinksSets":[{"Sitelinks":[{"Title":"About","Href":"https://example.com/about"},{"Title":"Contact","Href":"https://example.com/contact"}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/sitelinks
  response:
    body:
      string: '{"error":{"request_id":"2670595652392871608","error_code":1000,"error_detail":"","error_string":"The
        service is temporarily unavailable"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2670595652392871608'
      Units:
      - 0/114499/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2670595652392871608,cmd:direct.api5/sitelinks.add,appcode:-1
    status:
      code: 200
      message: OK
version: 1
