interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010754}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8273728289623003755'
      Units:
      - 15/114417/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8273728289623003755,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: "{\"method\":\"add\",\"params\":{\"VCards\":[{\"CampaignId\":700010754,\"Country\":\"\u0420\u043E\u0441\u0441\u0438\u044F\",\"City\":\"\u041C\u043E\u0441\u043A\u0432\u0430\",\"CompanyName\":\"Test
      Company\",\"WorkTime\":\"1#5#9#0#18#0\",\"Phone\":{\"CountryCode\":\"+7\",\"CityCode\":\"495\",\"PhoneNumber\":\"1234567\"}}]}}"
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/vcards
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":340543}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3975877003025532413'
      Units:
      - 40/114377/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:3975877003025532413,cmd:direct.api5/vcards.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[340543]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/vcards
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":340543}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2709073610980119945'
      Units:
      - 10/114367/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2709073610980119945,cmd:direct.api5/vcards.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010754]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010754}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '828671103978765498'
      Units:
      - 12/114355/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:828671103978765498,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
