interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010758}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2520098184510612962'
      Units:
      - 15/113956/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2520098184510612962,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"test-group","CampaignId":700010758,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":4793728}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '609194473453093705'
      Units:
      - 40/113916/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:609194473453093705,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Webpages":[{"Name":"Test Webpage","Conditions":[{"Operand":"URL","Operator":"CONTAINS_ANY","Arguments":["test"]}],"AdGroupId":4793728}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/dynamictextadtargets
  response:
    body:
      string: "{\"result\":{\"AddResults\":[{\"Errors\":[{\"Code\":8800,\"Message\":\"Object
        not found\",\"Details\":\"\u0413\u0440\u0443\u043F\u043F\u0430 \u043E\u0431\u044A\u044F\u0432\u043B\u0435\u043D\u0438\u0439
        \u043D\u0435 \u043D\u0430\u0439\u0434\u0435\u043D\u0430\"}]}]}}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4135670354235924361'
      Units:
      - 40/113876/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4135670354235924361,cmd:direct.api5/dynamictextadtargets.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[4793728]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adgroups
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2717904297583929250'
      Units:
      - 30/113846/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2717904297583929250,cmd:direct.api5/adgroups.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010758]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010758}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6696232812221631891'
      Units:
      - 12/113834/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6696232812221631891,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
