interactions:
- request:
    body: '{"method":"add","params":{"AdExtensions":[{"Callout":{"CalloutText":"Free
      shipping"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adextensions
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":10655}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6199324373506803802'
      Units:
      - 6/148955/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6199324373506803802,cmd:direct.api5/adextensions.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[10655]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adextensions
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":10655}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8751667010948108886'
      Units:
      - 11/148944/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8751667010948108886,cmd:direct.api5/adextensions.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
