interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010814}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1493570970391972529'
      Units:
      - 15/149452/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1493570970391972529,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"BidModifiers":[{"MobileAdjustment":{"BidModifier":120},"CampaignId":700010814}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bidmodifiers
  response:
    body:
      string: '{"result":{"AddResults":[{"Ids":[10177156]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5968674584285118647'
      Units:
      - 16/149436/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:5968674584285118647,cmd:direct.api5/bidmodifiers.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"set","params":{"BidModifiers":[{"Id":10177156,"Enabled":"NO"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bidmodifiers
  response:
    body:
      string: '{"error":{"request_id":"6528434619177162205","error_code":8000,"error_detail":"The
        required field BidModifier is omitted in an item in the BidModifiers array","error_string":"Invalid
        request"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6528434619177162205'
      Units:
      - 50/149386/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6528434619177162205,cmd:direct.api5/bidmodifiers.set,appcode:8000
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[10177156]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bidmodifiers
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Adjustment not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1591901229944372098'
      Units:
      - 15/149371/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1591901229944372098,cmd:direct.api5/bidmodifiers.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010814]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010814}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8748818561634203658'
      Units:
      - 12/149359/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8748818561634203658,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
