interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010744}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4129588596018235397'
      Units:
      - 15/115602/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4129588596018235397,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"set","params":{"Bids":[{"CampaignId":700010744,"Bid":15000000}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bids
  response:
    body:
      string: '{"result":{"SetResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Keyword not found for CampaignId = 700010744"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '4606948565861801019'
      Units:
      - 45/115557/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:4606948565861801019,cmd:direct.api5/bids.set,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010744]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010744}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1061963380250571631'
      Units:
      - 12/115545/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1061963380250571631,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
