interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":100000004}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 15/147747/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"AdGroups":[{"Name":"test-group","CampaignId":100000004,"RegionIds":[1,225]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/adgroups
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":2000002}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 40/147707/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/adgroups.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"Ads":[{"AdGroupId":2000002,"TextAd":{"Mobile":"NO","Title":"Test
      Ad","Text":"Test ad text body","Href":"https://example.com"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/ads
  response:
    body:
      string: '{"result":{"AddResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 40/147667/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/ads.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[2000002]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/adgroups
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found","Details":"Ad group not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 30/147637/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/adgroups.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[100000004]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.ru/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":100000004}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '0000000000000000000'
      Units:
      - 12/147625/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:0000000000000000000,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
