interactions:
- request:
    body: '{"method":"add","params":{"AdImages":[{"Name":"test-image.png","ImageData":"iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQI12NgAAIABQABNl7BcQAAAABJRU5ErkJggg=="}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/adimages
  response:
    body:
      string: '{"result":{"AddResults":[{"Errors":[{"Message":"Invalid format","Details":"Invalid
        image file type, please use the GIF, JPEG or PNG formats","Code":5004}]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - '6014529072524179154'
      Units:
      - 40/114961/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6014529072524179154,cmd:direct.json-api/adimages.add,appcode:0
    status:
      code: 200
      message: OK
version: 1
