interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010816}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '976020728376464576'
      Units:
      - 15/149023/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:976020728376464576,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: "{\"method\":\"add\",\"params\":{\"VCards\":[{\"CampaignId\":700010816,\"Country\":\"\u0420\u043E\u0441\u0441\u0438\u044F\",\"City\":\"\u041C\u043E\u0441\u043A\u0432\u0430\",\"CompanyName\":\"Test
      Company\",\"WorkTime\":\"1#5#9#0#18#0\",\"Phone\":{\"CountryCode\":\"+7\",\"CityCode\":\"495\",\"PhoneNumber\":\"1234567\"}}]}}"
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/vcards
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":340555}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8106157183417417643'
      Units:
      - 40/148983/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8106157183417417643,cmd:direct.api5/vcards.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[340555]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/vcards
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":340555}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '3719332426062696393'
      Units:
      - 10/148973/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:3719332426062696393,cmd:direct.api5/vcards.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010816]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010816}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '8580076676137567890'
      Units:
      - 12/148961/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:8580076676137567890,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
