interactions:
- request:
    body: '{"method":"add","params":{"Campaigns":[{"Name":"claude-test-cassette","StartDate":"2030-01-15","TextCampaign":{"BiddingStrategy":{"Search":{"BiddingStrategyType":"HIGHEST_POSITION"},"Network":{"BiddingStrategyType":"SERVING_OFF"}},"Settings":[]}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":700010747}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1909295666321747384'
      Units:
      - 15/115316/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1909295666321747384,cmd:direct.api5/campaigns.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"add","params":{"BidModifiers":[{"MobileAdjustment":{"BidModifier":120},"CampaignId":700010747}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bidmodifiers
  response:
    body:
      string: '{"result":{"AddResults":[{"Ids":[10177148]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '6298118025639697086'
      Units:
      - 16/112973/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:6298118025639697086,cmd:direct.api5/bidmodifiers.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"set","params":{"BidModifiers":[{"Id":10177148,"Enabled":"NO"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bidmodifiers
  response:
    body:
      string: '{"result":{"SetResults":[{"Id":10177148}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7700123456789012345'
      Units:
      - 15/112958/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:7700123456789012345,cmd:direct.api5/bidmodifiers.set,appcode:0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[10177148]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/bidmodifiers
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":10177148}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '9900345678901234567'
      Units:
      - 12/112928/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:9900345678901234567,cmd:direct.api5/bidmodifiers.delete,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[700010747]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/campaigns
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Id":700010747}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '1339727777050264083'
      Units:
      - 12/115304/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:1339727777050264083,cmd:direct.api5/campaigns.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
