interactions:
- request:
    body: '{"method":"add","params":{"RetargetingLists":[{"Name":"test-rtg-cassette","Type":"RETARGETING","Rules":[{"Operator":"ANY","Arguments":[{"ExternalId":1234567890}]}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"result":{"AddResults":[{"Id":5258}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '5595842946038740013'
      Units:
      - 12/149237/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:5595842946038740013,cmd:direct.api5/retargetinglists.add,appcode:0
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"delete","params":{"SelectionCriteria":{"Ids":[5258]}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"result":{"DeleteResults":[{"Errors":[{"Code":8800,"Message":"Object
        not found"}]}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '7172693712038995182'
      Units:
      - 30/149207/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:7172693712038995182,cmd:direct.api5/retargetinglists.delete,appcode:0
    status:
      code: 200
      message: OK
version: 1
