interactions:
- request:
    body: '{"method":"add","params":{"RetargetingLists":[{"Name":"test-rtg-cassette","Type":"AUDIENCE_SEGMENT","Rules":[{"LowerBound":1,"UpperBound":365}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      client-login:
      - REDACTED
      processingMode:
      - auto
      returnMoneyInMicros:
      - 'false'
      skipColumnHeader:
      - 'false'
      skipReportHeader:
      - 'true'
      skipReportSummary:
      - 'true'
    method: POST
    uri: https://api-sandbox.direct.yandex.com/json/v5/retargetinglists
  response:
    body:
      string: '{"error":{"request_id":"2785610748716819756","error_code":8000,"error_detail":"The
        required field Arguments is omitted in an item in the RetargetingLists.Rules
        array","error_string":"Invalid request"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      RequestId:
      - '2785610748716819756'
      Units:
      - 50/115204/160000
      Units-Used-Login:
      - REDACTED
      X-Accel-Info:
      - reqid:2785610748716819756,cmd:direct.api5/retargetinglists.add,appcode:8000
    status:
      code: 200
      message: OK
version: 1
